@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&family=Prosto+One&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-center-container {
    align-items: center;
}

.flex-space-between-container {
    justify-content:space-between;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

header {
    background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(110, 37, 82) 100%);
}

#logo,
nav {
    padding-left: 20%; 
    padding-right: 20%; 
}

#logo {
    color: cornsilk;
    height: 170px;
    font-family: 'Prosto One', cursive;
}

#site-title-text>h1 {
    font-family: 'Prosto One', cursive;
    font-size: 35px;
    text-shadow: 5px 0 5px #000, 0 5px 5px #000, -5px 0 5px #000, 0 -5px 5px #000;
}
#site-title-text>p {
    font-size: 18px;
}

nav {
    border-top: 3px solid rgb(110, 37, 82);
    border-bottom: 3px solid rgb(110, 37, 82);
    background: rgb(25, 25, 25);
    height: 60px;
    display: flex;
    justify-content: center;
}

#header-cat {
    border: 5px solid white;
    height: auto;
}

.nav-item:first-child {
    border-left: 3px solid rgb(110, 37, 82);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
}

.nav-item:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 120px;
}

.nav-item {
    background: rgb(25, 25, 25);
    color: #ffffff;
    position: relative;
    bottom: 10px;
    font-size: 14px;
    border-right: 3px solid rgb(110, 37, 82);
    border-bottom: 3px solid rgb(110, 37, 82);
    border-top: 3px solid rgb(110, 37, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Prosto One', cursive;
    width: 1200px;
    height: 75px;
    text-align: center;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.nav-item:hover {
    background: rgb(92,87,184);
    background: radial-gradient(circle, #49a8ac 0%, rgba(26,45,101,1) 100%);
}