body {
  font-family: 'Poppins', sans-serif;
  height: 5000px;
}

.h1-white {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.h2 {
  font-size: 30px;
  font-weight: 600;
  color: #263b5e;
  line-height: 40px;
  margin: 0;
}

.h2-white {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  line-height: 40px;
  margin: 0;
}

.h3 {
  color: #263b5e;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.p-white {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  line-height: 28px;
}

.p-dark {
  font-size: 15px;
  color: #6a7695;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
}

.about {
  padding: 120px 0;
}

.about .box {
  padding: 50px 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

.about .box h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.company {
  padding-bottom: 120px;
}

.company .text h2 {
  margin-bottom: 20px;
}

.company .text p {
  margin-bottom: 30px;
}

.digital {
  background: linear-gradient(135deg, #0c4aa8 0%, #101e61 100%);
  position: relative;
  margin-bottom: 120px;
}

.digital .text {
  padding: 120px 0;
}

.digital h2 {
  margin-bottom: 20px;
}

.digital p {
  margin-bottom: 30px;
}

.digital .image {
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.digital .image img {
  height: 100%;
}

.counter {
  padding-bottom: 120px;
}

.counter .item h3 {
  font-size: 35px;
  font-weight: 700;
  color: #263b5e;
  margin: 0;
  margin-left: 7px;
}

.counter .item h4 {
  font-size: 16px;
  font-weight: 400;
  color: #6a7695;
  margin: 0;
}

.better {
  background: linear-gradient(135deg, #0c4aa8 0%, #101e61 100%);
  position: relative;
  padding: 120px;
}

.better .heading {
  margin-bottom: 50px;
}

.better .heading h2 {
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.better .box {
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.better .box .text {
  margin-left: 15px;
}

.better .box .text h3 {
  margin-bottom: 10px;
}

.better .content {
  position: absolute;
  left: 50%;
  bottom: -25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.comp-3 {
  margin-top: 180px;
}

.customers {
  background-color: #f1fafc;
  padding: 120px 0 90px 0;
}

.customers .parteners {
  display: none;
}

.customers .testimonials {
  padding: 30px;
}

.customers .testimonials .carousel-inner {
  padding: 30px;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
  padding: 70px 115px;
  width: 100%;
  border-radius: 5px;
}

.customers .testimonials .carousel-item {
  padding: 0 50px;
}

.customers .testimonials .carousel-item h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 6px;
}

.customers .testimonials .carousel-item h4 {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.customers .testimonials .carousel-item p {
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 15px;
  color: #6a7695;
}

.customers .testimonials .carousel-item .line {
  background: #cbcdce;
  height: 1px;
  width: 100%;
  margin-bottom: 30px;
}

.customers .testimonials .carousel-item .tes {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #3260ad;
  font-style: italic;
}

.customers .testimonials .carousel-item .tes span {
  color: #6a7695;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.customers .testimonials .carousel-indicators {
  display: none;
}

.customers .testimonials .control {
  cursor: pointer;
  margin-top: 235px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background: linear-gradient(135deg, #0c4aa8 0%, #101e61 100%);
  font-size: 20px;
  -webkit-box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.06);
  opacity: 1 !important;
  margin: 20px;
  margin-top: 215px;
}

a.btn-white {
  background: #ffffff;
  padding: 12px 45px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #3260ad;
  display: inline-block;
}

a.btn-color {
  background: #3260ad;
  padding: 12px 45px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
}

.navbar .nav-item {
  margin: 0;
  padding: 30px 0;
}

.navbar .nav-item .nav-link {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}

.navbar .nav-item .nav-link:hover {
  color: #00bdff;
}

.navbar .nav-item:hover > .dropdown-menu {
  display: block;
}

.navbar .dropdown .dropdown-menu {
  border: #ffffff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 0;
}

.navbar .dropdown .dropdown-menu a {
  padding: 15px 5px 15px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #3260ad;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar .dropdown .dropdown-menu a:not(:last-child) {
  border-bottom: 1px solid #f6f6f6;
}

.navbar .dropdown .dropdown-menu a:hover {
  color: #ffffff;
  background-color: #3260ad;
  border: none;
}

.navbar .dropdown .dropdown-menu a:hover:not(:last-child) {
  border-bottom: 1px solid #3260ad;
}

.navbar .dropdown-toggle:after {
  content: none;
}

.slider {
  background: url("../../img/bg/slider-bg.png") center center no-repeat;
  background-size: cover;
  height: 1000px;
}

.slider .text h1 {
  margin-bottom: 15px;
}

.slider .text p {
  margin-bottom: 30px;
}

.footer {
  background: linear-gradient(135deg, #0c4aa8 0%, #101e61 100%);
  padding: 120px 0;
}

.footer .who {
  padding-right: 30px;
}

.footer .who h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer .who p {
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  margin: 0;
  margin-top: 20px;
  color: #ffffff;
}

.footer .links h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.footer .links ul {
  margin: 0;
  padding: 0;
}

.footer .links ul li {
  list-style: none;
}

.footer .links ul li a {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer .links ul li a:hover {
  color: #ffffff;
}

.footer .links ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer .social h4 {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .social .icons .icon {
  border: 1px solid #e2e2eb;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin-right: 2px;
}

.footer .social .icons .icon a {
  font-size: 14px;
  color: #848ca7;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer .social .icons .icon:hover {
  background: #eeeeee;
  color: #ffffff;
}

.footer .social .icons .icon:hover a {
  color: #ffffff;
}

.footer .social .ico {
  display: inline-block;
}

.footer .bottom {
  background: #6a7695;
  padding: 10px 0;
}

.footer .bottom span {
  font-size: 15px;
  color: #6a7695;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bottom {
  background: #e3eef0;
  padding: 20px 0;
}

.bottom span {
  font-size: 15px;
  color: #6a7695;
  display: inline-block;
  margin: 0;
  padding: 0;
}

@media (max-width: 575.98px) {
  .navbar {
    background: #13286c;
    padding: 20px;
  }
  .slider {
    height: 1200px;
    text-align: center;
  }
  .slider img {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .about {
    padding-bottom: 90px;
  }
  .about .box {
    margin-bottom: 30px;
  }
  .company {
    text-align: center;
  }
  .company .text-1 {
    margin-bottom: 50px;
  }
  .company .text-2 {
    margin-top: 50px;
  }
  .digital {
    text-align: center;
  }
  .digital .image {
    display: none;
  }
  .counter {
    padding-bottom: 80px;
  }
  .counter .item {
    margin-bottom: 40px;
    padding-left: 40px;
  }
  .better {
    padding: 0;
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .better .content {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .better .content .box {
    margin-bottom: 30px;
  }
  .testimonials {
    padding: 0 !important;
  }
  .testimonials .carousel-item {
    padding: 0 !important;
  }
  .testimonials .control {
    display: none;
  }
  .testimonials .carousel-inner {
    padding: 70px 30px !important;
  }
  .customers .heading h2 {
    margin-bottom: 50px;
  }
  .footer {
    text-align: center;
  }
  .footer .who {
    padding: 0;
    margin-bottom: 40px;
  }
  .footer .links {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .navbar {
    background: #13286c;
    padding: 20px;
  }
  .slider {
    height: 1200px;
    text-align: center;
  }
  .slider img {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .about {
    padding-bottom: 90px;
  }
  .about .box {
    margin-bottom: 30px;
  }
  .company {
    text-align: center;
  }
  .company .text-1 {
    margin-bottom: 50px;
  }
  .company .text-2 {
    margin-top: 50px;
  }
  .digital {
    text-align: center;
  }
  .digital .image {
    display: none;
  }
  .counter {
    padding-bottom: 80px;
  }
  .counter .item {
    margin-bottom: 40px;
    padding-left: 40px;
  }
  .better {
    padding: 0;
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .better .content {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .better .content .box {
    margin-bottom: 30px;
  }
  .testimonials {
    padding: 0 !important;
  }
  .testimonials .carousel-item {
    padding: 0 !important;
  }
  .testimonials .control {
    display: none;
  }
  .testimonials .carousel-inner {
    padding: 70px 30px !important;
  }
  .customers .heading h2 {
    margin-bottom: 50px;
  }
  .footer {
    text-align: center;
  }
  .footer .who {
    padding: 0;
    margin-bottom: 40px;
  }
  .footer .links {
    margin-bottom: 40px;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    background: #13286c;
    padding: 20px;
  }
  .slider {
    height: 1200px;
    text-align: center;
  }
  .slider img {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .about {
    padding-bottom: 90px;
  }
  .about .box {
    margin-bottom: 30px;
  }
  .company {
    text-align: center;
  }
  .company .text-1 {
    margin-bottom: 50px;
  }
  .company .text-2 {
    margin-top: 50px;
  }
  .digital {
    text-align: center;
  }
  .digital .image {
    display: none;
  }
  .better {
    padding: 0;
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .better .content {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .better .content .box {
    margin-bottom: 30px;
  }
  .testimonials {
    padding: 0 !important;
  }
  .testimonials .carousel-item {
    padding: 0 !important;
  }
  .testimonials .control {
    display: none;
  }
  .testimonials .carousel-inner {
    padding: 70px 30px !important;
  }
  .customers .heading h2 {
    margin-bottom: 50px;
  }
  .footer .social .icon {
    margin-bottom: 5px;
  }
  .footer .who {
    padding: 0;
  }
}

@media (max-width: 1199.98px) {
  .digital {
    text-align: center;
  }
  .digital .image {
    display: none;
  }
  .better {
    padding: 0;
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .better .content {
    position: relative;
    padding: 0;
    margin: 0;
  }
  .better .content .box {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */